body {
    background-image: url(../images/backgroundcolor.png)
}

.container {
    background-color: whitesmoke;
    margin-bottom: 5%;
}






@media screen and (max-width: 640px) {
    h1 {
        text-align: center;
    }
    .navbar-nav {
        flex-direction: row;
        text-align: center;
        width: 100%;
    }
   .navbar-nav .nav-link {
       margin: auto;
   }

   
    
}