body {
    background-image: url(../images/backgroundcolor.png);
}

.container {
    background-color: whitesmoke;
    margin-bottom: 5%;
}

.footer, .header {
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
    height: 10%;
    position: absolute;
}

h1 {
    background-color: whitesmoke;
}

.logos {
    text-align: left;
    height: 10%;
    width: 10%;
}

.logodiv {
    text-align: left;
    margin: auto;
    position: relative;
    bottom: 7px;
}
.portpic {
    width: 70%;
}
.portimg {
    height: 70%;
    width: 70%;
}

.portp {
    background-color: #4aaaa5;
    color: whitesmoke;
    width: 70%;
    height: 40px;
    margin: auto;
    text-align: center;
    position: relative;
    bottom: 60px;
    line-height: 2.5;
}




@media screen and (min-width: 100px) and (max-width: 766px) {
    .container, h1 {
        text-align: center;
    }
    h4 {
        text-align: left;
    }
    .navbar-nav, .nav-link, .bg-primary  {
        flex-direction: row;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .navbar-nav, .bg-primary{
        position: relative;
        bottom: 10px;
    }

    .nav-link {
        position: relative;
        top: 10px;
    }
   p {
       text-align: left;
   }
   
}

@media screen and (min-width: 768px) and (max-width: 979px) {
    h1 {
        width:35%;
        position: relative;
        left: 3%;  
    }
    .navbar-nav, .nav-link, .bg-primary  {
        flex-direction: row;
        text-align: right;
        width: 100%;
        position: relative;
    }
    .nav-link {
        position: relative;
        text-align:center;
    }
    .portp{
        width: 70%;
    }
    .portimg {
        height: 70%;
        width: 70%
    }
    .portdiv {
        text-align: center;
    }
 
}

@media screen and (min-width: 980px) {
    .portp{
        width: 70%;
    }
    .portimg {
        height: 70%;
        width: 70%
    }
    .portdiv {
        text-align: center;
    }
}