body {
    background-image: url(../images/backgroundcolor.png);
}

.container {
    background-color: whitesmoke;
    margin-bottom: 5%;
}

.footer, .header {
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
    height: 10%;
    position: absolute;
}

h1 {
    background-color: whitesmoke;
}





@media screen and (max-width: 640px) {
    .container, h1 {
        text-align: center;
    }
    h4 {
        text-align: left;
    }
    .navbar-nav, .nav-link, .bg-primary  {
        flex-direction: row;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .navbar-nav, .bg-primary{
        position: relative;
        bottom: 10px;
    }

    .nav-link {
        position: relative;
        top: 10px;
       
   p {
       text-align: left;
   }
   
    
}